.div-primaria{
    display: flex;
}

.div-primaria img{
    width: 250px;
}
.div-primaria .imgg{
    padding: 360px;
}

main h1{
    text-align: center;
    text-transform: uppercase;
    padding: 25px;
}

.divdadiv p{
    padding: 5px 50px 10px 5px;
}

.divdadiv{
    color: white;
    padding: 25px;
    text-align: center;
}

main h1{
    color: white;
}

*{
 margin: 0;
 padding: 0;
 border: 0;
}

body{
    background-color:#060826;
}
header{
    background-color: white;/*muda a cor de fundo do elemento desejado*/
    padding-bottom: 50px;
    display: flex;/*Dar novas opções de estilização no CSS*/
    flex-direction: column;/*Opção para deixar todos os elemntos diferentes um embaixo do outro*/
    align-items: center;/*Alinhar o elemento para horizontal (centralizar)*/
    justify-content: center;/*Alinhar o elemento para vertical*/
    height: 233px;/*Altura do elemento*/
    border-radius: 27px;
}
header img{
    width: 150px;
    border: 5px solid blue;
    border-radius: 27px;
}
header nav ul li{
    color: black;/*muda a cor do text*/
    text-transform: uppercase;
    display: inline;
    padding: 20px 50px;/*Aumenta a hit box do elemento ou diminue*/
    margin: 30px;
    border-radius: 50px;
}
header nav ul li:hover{
    background-color: black;
    color: white;/*muda a cor do text*/
    transition: 1.2s;/*Tempo para a ação acontecer*/
    padding: 20px 50px;/*aumenta a hit box do elemento*/

}

header nav{
    padding: 35px;
}
header nav ul a{
    text-decoration: none;
}
.accordion{
    color: black;
    padding: 30px, 80px;
}
.rodape{
    padding: 140px;   
    background-color: green;
}
.icons{
    display: flex;
    justify-content: center;
}
.icons a{
    padding: 20px;
    background-color: white;
    border-radius: 16px;
    margin: 40px;
    text-decoration: none;
}
.icons a i{
    font-size: 30px;
}